/* common styles */
*{
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}
.btn-primary{
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.center{
    text-align: center;
}
.flex{
    display: flex;
}

/* header section styles starts here */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    gap: 97px;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
}
.banner-text-content{
    width: 708px;
}
.banner-title, .sec-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.banner-description, .sec-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    margin: 30px 0;
}
.banner-flower{
    width: 45%;
    height: 100%;
}
/* header section styles starts here */

/* featured flowers section starts here */

.featured-flowers{
    margin: 178px auto 128px;
}
.featured-flowers .sec-title, .hot-deal-title{
    font-size: 40px;
}
.featured-flowers .sec-description, .hot-deal-description{
    margin: 24px 0 48px;
}
.sec-text-content{
    max-width: 595px;
    margin: 0 auto;
}
.flowers{
    gap: 24px;
}
#single-flower-1 .flower{
    background-color: #A7216226;
}
#single-flower-2 .flower{
    background-color: #0597A026;
}
#single-flower-3 .flower{
    background-color: #477D1126;
}
.single-flower{
    flex: 1;
}
.single-flower .flower{
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#single-flower-2 .flower{
    align-items: center;
}
.flower{
    margin-bottom: 32px;
}
.flower-link{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* featured flowers section ends here */

/* flowers delivery section starts here */





/* flowers delivery section ends here */


/* hot deals section starts here */

.hot-deals{
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal{
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}
.hot-deal-text-content{
    width: 45%;
}
.pink{
    color: #E55473;
}
.hot-deal-description{
    margin-bottom: 32px;
}
.hot-deal-flower{
    height: 420px;
}

/* hot deals section ends here */

/* instagram section starts here */

.instagram, .footer-text-content{
    padding: 128px 0;
}
.instagram .sec-description{
    margin-bottom: 48px;
}
.instagram-flowers{
    gap: 24px;
    margin-top: 28px;
}
.latest-deals{
    margin-top: 128px;
    padding: 122px 0;
    background: url(../images/rectangle9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.latest-deals .sec-description{
    margin-top: 16px;
}
.subscribe-form{
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.subscribe-form input[type="email"]{
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    padding: 0 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    outline-color: #E55473;
}
.subscribe-form .btn-primary{
    padding: 20px 30px;
}

/* instagram section ends here */

/* footer section starts here */

.footer{
    background: #111010;
}
.footer-text-title{
    font-size: 48px;
    color: #fff;
}
.footer-text-description{
    margin: 24px auto 32px;
    width: 44%;
    color: rgba(255, 255, 255, 0.90);
}
.footer-text-content p:last-child{
    color: rgba(255, 255, 255, 0.40);
}

/* footer section ends here */




