/* common styles */
*{
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}
.btn-primary{
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.center{
    text-align: center;
}
.flex{
    display: flex;
}

/* header section styles starts here */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    gap: 97px;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
}
.banner-text-content{
    width: 708px;
}
.banner-title, .sec-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.banner-description, .sec-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    margin: 30px 0;
}
.banner-flower{
    width: 45%;
    height: 100%;
}
/* header section styles starts here */

/* featured flowers section starts here */

.featured-flowers{
    margin: 178px auto 128px;
}
.featured-flowers .sec-title{
    font-size: 40px;
}
.featured-flowers .sec-description{
    margin: 24px 0 48px;
}
.sec-text-content{
    max-width: 595px;
    margin: 0 auto;
}
.flowers{
    gap: 24px;
}
#single-flower-1 .flower{
    background-color: #A7216226;
}
#single-flower-2 .flower{
    background-color: #0597A026;
}
#single-flower-3 .flower{
    background-color: #477D1126;
}
.single-flower{
    flex: 1;
}
.single-flower .flower{
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#single-flower-2 .flower{
    align-items: center;
}
.flower{
    margin-bottom: 32px;
}
.flower-link{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* featured flowers section ends here */



